<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Backend Developer Challenge</title>
    <script crossorigin="anonymous" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link
        href="https://fonts.googleapis.com/css?family=Lato:300,400,500|Open+Sans:300,400,500, 700|Roboto:300,400,500&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/png" href="./ico/shopify.png" />
    <link rel="stylesheet" href="./css/formStyles.css">
    <link rel="stylesheet" href="./css/kiosk.css">
    <link rel="stylesheet" href="./css/pop-up.css">
    <script>
        let model_nums = [1023, 1323, 1030]
        let descriptions = ["Aurora Borealis", "Ocean Sunset", "Neon Forest"]
        let artists = ["Bob Smith", "Jane Doe", "John Doe"]
        function setEditTransactionValues(rownum) {
            for (i = 1; i <= 4; i++) {
                if (rownum == i) {
                    if (document.getElementById("commTypei")) {
                        document.getElementById("commentDropdown").querySelector(".select-selected").innerHTML = document.getElementById("commTypei").innerHTML;
                    }
                    else {
                        document.getElementById("commentDropdown").querySelector(".select-selected").innerHTML = "&nbsp;";
                    }
                    document.updatecart.cart_id.value = document.results.c_cart_id_i.value;
                    document.getElementById('popup-item-avatar').innerHTML 
                        = '<img src="'+ document.results.c_item_avatar_i.value + '" alt="Item Image">';
                    document.getElementById('popup-item-id').innerHTML 
                        = document.results.c_item_id_i.value;
                    document.getElementById('popup-description').innerHTML 
                        = document.results.c_description_i.value;
                    document.getElementById('popup-manuf-model').innerHTML 
                            = document.results.c_manuf_model_i.value;
                    if (document.results.c_serial_i.value.length != 0) {
                        document.getElementById('popup-item-size').innerHTML 
                        = document.results.c_item_size_i.value + " (" + document.results.c_serial_i.value + ")";
                    } else {
                        document.getElementById('popup-item-size').innerHTML 
                        = document.results.c_item_size_i.value;
                    }
                    if (document.results.c_qty_i) {
                        document.getElementById('popup-qty').innerHTML 
                            = '<input type="text" style="text-align: center;" id="qty" name="qty" value="'+ document.getElementById(document.results.c_cart_id_i.value).innerHTML +'">';
                    } 
                    document.getElementById('popup-created-by').innerHTML 
                        = document.results.c_created_by_i.value;
                    document.getElementById('popup-trans-date').innerHTML 
                        = document.results.c_trans_date_i.value;
                    document.getElementById('popup-trans-time').innerHTML 
                        = document.results.c_trans_time_i.value;
                    if (document.results.c_comments_i.value) {
                        document.getElementById('popup-comments').innerHTML 
                            = document.results.c_comments_i.value;
                    } 
                }
            }
        }    
        function changeQuantity(type) {
            if (document.getElementById('qty')) {
                var currentQty = document.getElementById('qty').value;
                if (type == 'add') {
                    document.getElementById('qty').value = parseInt(currentQty, 10) + 1;
                }
                else {
                    document.getElementById('qty').value = Math.max(0, parseInt(currentQty, 10) - 1);
                }
            }
        }
        function updateQuantity(cart_id, action) {
            var qty = document.getElementById(cart_id).innerHTML;
            if (action == 'increment') {
                qty = parseInt(qty) + 1;
                document.getElementById("total-qty").innerHTML = parseInt(document.getElementById("total-qty").innerHTML) + 1;
                if (Number.isNaN(parseFloat(document.getElementById(String(cart_id) + "_price").getAttribute("name")))) {
                    
                } else {
                    document.getElementById("end-total").innerHTML = "$" + (parseFloat(document.getElementById("end-total").innerHTML.replace(/[^0-9.-]+/g,"")) + parseFloat(document.getElementById(String(cart_id) + "_price").getAttribute("name"))).toFixed(2);
                }
            } else {
                qty = Math.max(0, qty - 1);
                document.getElementById("total-qty").innerHTML = Math.max(0, parseInt(document.getElementById("total-qty").innerHTML) - 1);
                if (Number.isNaN(parseFloat(document.getElementById(String(cart_id) + "_price").getAttribute("name")))) {
                } else {
                    document.getElementById("end-total").innerHTML = "$" + (Math.max(0, parseFloat(document.getElementById("end-total").innerHTML.replace(/[^0-9.-]+/g,"")) - parseFloat(document.getElementById(String(cart_id) + "_price").getAttribute("name")))).toFixed(2);
                }
                
            }
            if (Number.isNaN(parseFloat(document.getElementById(String(cart_id) + "_price").getAttribute("name")))) {
                document.getElementById(String(cart_id) + "_total").innerHTML = "$" + parseInt(0).toFixed(2);
            } else {
                document.getElementById(String(cart_id) + "_total").innerHTML = "$" + (parseFloat(document.getElementById(String(cart_id) + "_price").getAttribute("name")) * parseInt(qty)).toFixed(2);
            }  
        }
    </script>
</head>

<body class="removeKioskResults">
    <div class="pop-up-bg popup-kiosk-bg">
        <div class="pop-up">
            <div class="popup-header">
                <div class="text">Edit Transaction</div>
                <div class="image">
                    <img src="./Ico/remove-from-group.svg" alt="">
                </div>
            </div>
            <div class="popup-body popup-kiosk-body">
                <div class="desc icon-image">
                    <img src="./img/aurora-borealis.jpeg" alt="">
                    <div>
                        <div>
                            <b>Model Number: </b> <span id="model_num"></span>
                        </div>
                        <div>
                            <b>Description: </b> <span id="description"></span>
                        </div>
                        <div>
                            <b>Photographer: </b> <span id="photographer"></span>
                        </div>
                    </div>
                </div>
                
                <div class="qty-row">
                    <b>Quantity:</b>
                    <div class="input-field">
                        <input type="text" style="text-align: center;" id="qty" required value="1">
                    </div>
                    <div class="black-square-container">
                        <div class="black-square" style="padding: 4px;">+</div>
                        <div class="black-square">-</div>
                    </div>
                </div>
                <div class="custom-select sport no-label" style="width:200px; padding: 0px; margin: 0px;">
                    <label for="Size" style="font-size: 10px;">&nbsp;</label>
                    <select name="size">
                        <option value='30x20'>20x20</option>
                        <option value='60x60'>60x60</option>
                        <option value='80x80'>80x80</option>
                    </select>
                </div>

                <div class="textarea" style="position: relative; height: 150px;  width: 100%; margin-top: 1rem;">
                    <label for="Item Description" style="position: absolute; top: 0rem; left: 0.5rem; font-size: 12px;color: #999999!important;">Note to the seller
                    </label>
                    <textarea name="" id="" cols="30" rows="10" style="padding: 0rem; position: absolute; background-color: transparent; top: 0; left: 0; height: 100%; width: 100%; outline: none; border: none; resize: none;  border-radius: 3px;
                border: solid 1px #cccccc; padding: 1.25rem 0.5rem;   font-family: 'Roboto', sans-serif;"></textarea>
                </div>
            </div>
            <div class="popup-footer">
                <div class="footer-buttons" style="display: flex; flex-direction: row;">
                    <div class="blue-text-button">
                        Cancel
                    </div>
                    <div class="blue-button">
                        Save
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kiosk-section">
        <div class="header flex-spacebetween">
            <div class="menu flex-spacebetween">
                <div style="width:auto; display: inline-block; padding-right: 30px; margin-left: 20px; font-size:1.5rem;">
                    Cart
                </div>
            </div>
            <a href="./dashboard.html" class="cancel-border">
                <div class="cancel">
                    <img src="./ico/remove-from-group.svg" alt="">
                </div>
            </a>
        </div>
        <div class="body">
            <section class="none-selected-results">
                <div class="results">
                    <table>
                        <tr>
                            <th>Photo</th>
                            <th>Description</th>
                            <th>Size</th>
                            <th>Qty</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>
                        <tr>
                            <td>
                                <img src="./img/aurora-borealis.jpeg" alt="Cloth" class="item-photo">
                            </td>
                            <td>
                                <div>1023</div>
                                <div>Aurora Borealis</div>
                                <div>Bob Smith</div>
                            </td>
                            <td>60x60</td>
                            <td>
                                <div class="qty-row">
                                    <div class="black-square-results">-</div>
                                    <div>2</div>
                                    <div class="black-square-results">+</div>
                                </div>
                            </td>
                            <td>$75.00</td>
                            <td>$150.00</td>
                            <td>
                                <img class="show-popup" src="./ico/edit-pen.svg" alt="Edit Pen">
                            </td>
                            <td>
                                <img src="./ico/remove-from-group.svg" alt="Remove">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="./img/ocean-sunset.jpg" alt="Cloth" class="item-photo">
                            </td>
                            <td>
                                <div>1323</div>
                                <div>Ocean Sunset</div>
                                <div>Jane Doe</div>
                            </td>
                            <td>10x10</td>
                            <td>
                                <div class="qty-row">
                                    <div class="black-square-results">-</div>
                                    <div>2</div>
                                    <div class="black-square-results">+</div>
                                </div>
                            </td>
                            <td>$25.00</td>
                            <td>$50.00</td>
                            <td>
                                <img class="show-popup" src="./ico/edit-pen.svg" alt="Edit Pen">
                            </td>
                            <td>
                                <img src="./ico/remove-from-group.svg" alt="Remove">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="./img/neon-forest.jpg" alt="Cloth" class="item-photo">
                            </td>
                            <td>
                                <div>1030</div>
                                <div>Neon Forest</div>
                                <div>John Doe</div>
                            </td>
                            <td>40x40</td>
                            <td>
                                <div class="qty-row">
                                    <div class="black-square-results">-</div>
                                    <div>2</div>
                                    <div class="black-square-results">+</div>
                                </div>
                            </td>
                            <td>$37.50</td>
                            <td>$75.00</td>
                            <td>
                                <img class="show-popup" src="./ico/edit-pen.svg" alt="Edit Pen">
                            </td>
                            <td>
                                <img src="./ico/remove-from-group.svg" alt="Remove">
                            </td>
                        </tr>
                    </table>
                    <div class="conclusion flex-spacebetween">
                        <div class="flex-spacebetween">
                            <span class="result">
                                <span class="inner-result">Qty</span>
                                <span class="inner-result">
                                    <b id="total-qty">3</b>
                                </span>
                            </span>
                            <span class="result">
                                <span class="inner-result">Total</span>
                                <span class="inner-result">
                                    <b id="end-total" name=""></b>
                                </span>
                            </span>
                            <div class="btn" style="width: 147px;">
                                <a href="">Place Order</a>
                            </div>  
                        </div> 
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="success-toast">
        Items issued successfully to Henry Aaron.
    </div>
    <script src="./js/app.js"></script>
    <script src="./js/kiosk.js"></script>
</body>

</html>