{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<br />
<h1 align="center">My Images</h1>

<form method="POST" enctype="multipart/form-data">
  <label class="form-label" for="customFile">Upload an Image</label>
  <input type="file" class="form-control" name="file" id="customFile"/>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Image</button>
  </div>
</form>

<ul class="list-group list-group-flush" id="images">
  {% for file in files %}
    <li class="list-group-item">
      <img src="{{ file }}" alt="Image" style="height: 100px; width: 100px;" class="center">
      <form method="POST">
          <button type="submit" class="close" name="delete" value="{{ file }}">
            <span aria-hidden="true">&times;</span>
          </button>
      </form>
      </li>
    </li>
  {% endfor %}
</ul>
{% endblock %}
