{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<script>
  function deleteNote(noteId) {
    fetch("/delete-note", {
      method: "POST",
      body: JSON.stringify({ noteId: noteId }),
    }).then((_res) => {
      window.location.href = "/";
    });
  }
</script>
<br />
<h1 align="center">
  {{ user.first_name }}<!--
  -->{% if user.first_name %}<!--
    -->'s
  {% endif %}
  Images
</h1>
<br />
<form method="POST">
  <div align="center">
    <label class="form-label">Choose a Category: </label>
    <select class="form-control" name="note" onchange="this.form.submit()" style="width: 20%">
      <option value="">&nbsp;</option>
      <option value="airplane">Airplane</option>
      <option value="baboon">Baboon</option>
      <option value="boat">Boat</option>
      <option value="cat">Cat</option>
      <option value="fruits">Fruits</option>
    </select>
  </div>
</form>
<hr />
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <img src="https://homepages.cae.wisc.edu/~ece533/images/{{ note.data }}.png" alt="Image" style="height:100px; width:100px; transform:translateY(30px);" class="center">
  <div style="transform:translateY(-30px);">
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
</ul>
<br />
{% endblock %}
